.header__lang-link {
    text-decoration: none;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    line-height: 1.16;
    font-weight: normal;
}

.header__lang-link:nth-of-type(1) {
    margin-right: 18px;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 1.125rem;
        line-height: 1.11;
    }
}