.place__image {
    max-width: 460px;
    width: 100%;
    display: block;
    grid-column: 1;
    grid-row: 2;
}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
    }
}

@media screen and (max-width: 875px) {
    .place__image{
        max-width: 380px;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 705px) {
    .place__image {
        max-width: 320px;
    }
}

@media screen and (max-width: 345px) {
    .place__image {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (max-width: 300px) {
    .place__image {
        max-width: 95vw;
    }
}