.cover__title {
    margin: 0 0 32px 0;
    padding: 0;
    text-align: center;
    max-width: 560px;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 1.05;
}

@media screen and (max-width: 440px) {
    .cover__title {
        max-width: 288px;
        font-size: 2rem;
        line-height: 1.09;
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 0 16px 0;
    }
}