.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 48px;
    margin-bottom: 80px;
}

.place:nth-of-type(5) {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    }
}

@media screen and (max-width: 875px) {
    .place {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-column-gap: 28px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: 340px minmax(288px, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        align-self: center;
    }
}

@media screen and (max-width: 320px) {
    .place {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-bottom: 50px;
        grid-column-gap: 0;
        grid-row-gap: 32px;
    }
}